.h1{
    color: black;
}
@mixin fontSize($size) {
    font-size: $size + px;   
}
@function fontSize($size){
    @return $size + px;
}
.div{
    h1{
        color: black;
        @include fontSize(45)
    }
    div{
        h2{
            @extend .h1;
            font-size: fontSize(99);
        }
    }
}